<div class="main">
	<div class="block__header">
		<div class="header">
			<div class="header__title" ui-sref="app">
				Main
			</div>
		</div>    
	</div>
</div>
<div class="block__paragraph">
	<div class="block-paragraph">
		<div class="block-paragraph__title" ng-class="{'checked-section': $ctrl.getActiveSection($index)}" ng-repeat="section in $ctrl.sections track by $index" ng-click="$ctrl.activateSection($index)" ui-sref="{{section.stateName}}">
			{{section.stateName}}
		</div>
	</div>
</div>