/*-------------------------initial----------------------------*/
body {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	font-family: sans-serif;
	color: #424653;
	margin: 0px;
}

.offer-block {
	text-align: center;
	margin: 15% auto;
}

/*-------------------------left block----------------------------*/
.left-block {
	width: 19%;
	background-color: #434762;
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-height: 1000px;
	padding-bottom: 99999px;
	margin-bottom: -99999px;
}

.block__header {
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
}
.header {
	font-size: 14pt;
	position: relative;
	width: 100%;
	height: 100%;
}

.header__title {
	font-size: 22pt;
	position: relative;
	text-align: left;
	vertical-align: middle;
	color: #707386;
}

.header__title:hover {
	cursor: pointer;
}

.header__title_items {
	font-size: 22pt;
	position: relative;
	text-align: left;
	vertical-align: middle;
	color: #707386;
}

.header__title_items:hover {
	cursor: default;;
}

.block__paragraph {
	position: relative;
	display: block;
	width: 100%;
}

.block-paragraph {
	font-size: 14pt;
	position: relative;
	width: 100%;
}

.block-paragraph__title {
	font-size: 14pt;
	position: relative;
	text-align: left;
	vertical-align: middle;
	color: white;
	padding: 5% 8% 5% 8%;
}

.block-paragraph__title:hover {
	cursor: pointer;
}

.right-block {
	width: 80%;
	position: relative;
	display: inline-block;
	min-height: 700px;
}

.container {
	width: 100%;
	position: relative;
	height: auto;
	overflow: hidden;
}

/*-------------------------items----------------------------*/

.block__items {
	width: 50%;
	background-color: white;
	position: relative;
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	display: inline-block;
}

.items__block {
	position: relative;
	display: block;
	width: 100%;
	box-shadow: 1px 2px 35px #d2d2d2;
}

.items {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 30px 30px 0px 30px;
	box-sizing: border-box;
}

.items__check-sign {
	width: 3px;
	height: 40px;
	background-color: red;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	left: -1px;
}


.list__item {
	overflow: hidden;
}

.check-sign {
	width: 3px;
	height: 999px;
	background-color: #ff3356;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
}

.items__check-sign:after {
	position: absolute;
	height: 99999px;
	display: block;
}

.items__check-sign_transp {
	width: 3px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.items-list {
	position: relative;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.items__list {
	display: block;
	width: 100%;
	position: relative;
	font-size: 12pt;
	color: black;
	margin: 0px;
}

.item-block {
	box-sizing: border-box;
	border-bottom: 1px solid #d2d2d2;
	width: 88%;
	margin: 0px 5%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.item-block_clear {
	box-sizing: border-box;
	border-bottom: 1px solid #d2d2d2;
	width: 88%;
	margin: 0px 5%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-bottom: 0px solid #d2d2d2;
}

.item {
	width: 77%;
	display: inline-block;
	min-height: 45px;
	vertical-align: text-top;
	margin: 15px 0px;
}

.item:hover {
	cursor: pointer;
}

.item__text {
	padding: 0px;
	margin: 0px;
	white-space: normal;
	padding-right: 15px;
	font-weight: bold;
	color: #424653;
	overflow: hidden;
}

.button {
	width: 95px;
	height: 35px;
	border-radius: 6px;
	display: inline-block;
}

.button:hover {
	cursor: pointer;
}

.button_delete{
	background-color: white;
	color: red;
	border-color: #ff3356;
	vertical-align: top;
	margin: 15px 0px;
	font-size: 11pt;
	border-style: solid;
	border-width: 1px;
}

.item__counter {
	border-radius: 15px;
	background-color: #27ccc0;
	color: white;
	display: inline-block;
	font-size: 10pt;
	text-align: center;
	vertical-align: top;
	padding: 2px 10px 2px 10px;

}

.item-counter {
	padding: 5px;
}
/*-------------------------form----------------------------*/

.items__form {
	position: relative;
	display: block;
}

.form {
	display: block;
	position: relative;
	font-size: 14pt;
	color: white;
	margin: 0px 0px 20px;
}

.form__input {
	width: 66%;
	height: 35px;
	border-radius: 6px;
	line-height: normal;
	padding: 0px 0px 0px 15px;
	font-size: 12pt;
	border: 2.5px solid #d2d2d2;
	font-family: sans-serif;
	margin-bottom: 12px;
}

.form__button {
	width: 125px;
	height: 38px;
	background-color: #27ccc0;
	border-radius: 6px;
	color: white;
	border: #27ccc0;
	font-size: 11pt;
	vertical-align: top;
}

/*-------------------------comments----------------------------*/

.block__comments {
	width: 47%;
	background-color: white;
	position: relative;
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	margin: 0px 0px 0px 15px;
	box-shadow: 1px 2px 35px #d2d2d2;
}

.main {
	padding: 25px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}

.comments {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 30px 30px 30px 40px;
	box-sizing: border-box;
}

.comments__list {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

.comment__avatar {
	display: inline-block;
	width: 60px;
	vertical-align: top;
}

.comment__text {
	display: inline-block;
	width: 80%;
	font-size: 10pt;
	overflow: hidden;
}

.form__avatar {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	color: black;
	vertical-align: top;
}

.form__input_comment {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-height: 75px;
	padding: 15px;
	width: 93%;
	margin-bottom: 12px;
	font-size: 12pt;
}

.form__comments-button {
	position: relative;
	right: 0px;
	text-align: right;
}

.form__input-block {
	width: 81%;
	display: inline-block;
}

.list__comment {
	border-bottom: 1px solid #d2d2d2;
}

.list__comment:last-child {
	border-bottom: 0px solid #d2d2d2;
}

.comment {
	box-sizing: border-box;
	padding: 10px 0px;
}

textarea {
	resize: none;
}

/*-------------------------------------sidebar------------------------------------------*/

.checked-section {
	background-color: #ff3356;
}